@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family:'vampiro';
    src: url('fonts/Vampire Wars.ttf') format('truetype');
    font-weight: normal;
    font-size: normal;
}
:root{
  

    --cor1: #E72E3E;
    --cor2: #E98A2C;
    --cor3: #E4E4EE;
    --cor4: #272A39;
    --cor5: #1E744E;
    --cor6: #DA0914 ;
    --cor7: #FFFFFF;
    --cor8: #080808 ;
    --cor9: #D1C30A;  

    --font-padrao: arial, verdana, helvetica, sans-serif;
    --font2: 'Bebas Neue', sans-serif;
    --font-vampiro: 'vampiro', times, serif;
}
*{
    margin: 0px;
    padding: 0px;
}

body{
    background-image: linear-gradient(to bottom, var(--cor1), var(--cor4));
}
a.externo::after{
    content: '\00A0\1F517';
 }
header{
    box-shadow: -3px 1px 2px rgba(0, 0, 0, 0.336);
    background-image: linear-gradient(to left, var(--cor4), var(--cor1));
}
header h1{
    text-align: center;
    padding-bottom: 10px;
    font-family: var(--font-vampiro);
    text-overflow: normal;
    font-size: normal;
    padding: 1.5em;
}
header p {
    text-indent: 30px;
    padding-top: 10px;
    font-family: var(--font2);
}
header a {
    text-decoration: none;
    color: var(--cor2);
}
header a:hover{
    color: var(--cor3);
    background-color: var(--cor1);
}
nav{
    
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.116);
    padding: 10px;
       
}
nav a{
    color:rgb(243, 236, 236);
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    margin-left: 8px;
}

nav a.inicio:hover{
    background-color:var(--cor4);
    color: white;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.74);
}
nav a.sporting:hover{
    background-color:var(--cor5);
    color: rgb(10, 10, 10);
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.74);
}
nav a.unitid:hover{
    background-color: var(--cor6);
    color: white;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.74);
    
}
nav a.real:hover{
    background-color: var(--cor7);
    color: black;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.74);
    
}
nav a.juventus:hover{
    background-color: var(--cor8);
    color: white;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.74);
    
}
nav a.nassr:hover{
    background-color: var(--cor9);
    color: rgb(10, 10, 10);
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.74);
    
}
main img{
    max-width: 500px;
    display: block;
    margin: auto;
    border-radius: 10px;
}
main p {
    text-indent: 20px;
    font-family: var(--font2);
    color: #E4E4EE;
    font-size: 1.2em;
    
} 
main strong{
    color: black;
    text-shadow: 10px 10px 10px 10px black;
    padding-bottom: 10px;
}
main h2{
    text-align: center;
    background-image: linear-gradient(to bottom, var(--cor1), var(--cor4));
    box-shadow:  2px 2px 2px rgba(0, 0, 0, 0.363);
    font-family: var(--font-vampiro);
    font-weight: normal;
}
main h4{
    text-align:left;
    padding: 10px 10px;
    font-size: 1.2em;
    font-family: var(--font-padrao);
    
}
#UltimoTexto{
    padding-top: 10px 10px;
}
div.video{
  
     margin:  0px -21px 30px -21px;
     padding: 17px 17px; 
    padding-bottom: 50%;
    position: relative;  
}
div.video > iframe{
    position: absolute;
    top: 2%;
    left: 12%;
    width: 74%;
    height: 75%;
    box-shadow: 4px 5px 6px black; 
    margin: 0px;
    border-radius: 10px;
}

footer{
   padding-top: 10px;
   color: #E72E3E;
   display: block;
   text-align: center;
   font-weight: bold;
   font-family: var(--font-padrao);
   background-image: linear-gradient(to right, var(--cor3), var(--cor2));
}
footer a{
   color: black;
   text-decoration: none;
   font-weight: bold;
   font-family: var(--font-padrao);
}
footer a:hover{
    text-decoration: underline;
    background-color: rgb(12, 12, 12);
    color: #ffffff;
}
.voltar{
    padding: 5px;
    margin: 5px;
    display: block;
    text-align: center;
}

